name: build-cmake-multiplatform-releases
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      outputVersion: ${{ steps.tag_version.outputs.new_version }}
      outputUrl: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.0
      with:
        github_token: ${{ secrets.TOKEN }}
        default_bump: minor

    - name: Create a GitHub release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        release_name: Release ${{ steps.tag_version.outputs.new_tag }}
        tag_name: ${{ steps.tag_version.outputs.new_tag }}
        body: ${{ steps.tag_version.outputs.changelog }}
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}

  build:
    needs: prepare
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        platform: [linux64, linux32, macos64, macos32, windows64, windows32]
        include:
          - platform: linux64
            os: ubuntu-latest
            triplet: x64-linux
          - platform: linux32
            os: ubuntu-latest
            triplet: x86-linux
          - platform: macos64
            os: macos-latest
            triplet: x64-osx
          - platform: macos32
            os: macos-latest
            triplet: x86-osx
          - platform: windows64
            os: windows-latest
            triplet: x64-windows
          - platform: windows32
            os: windows-latest
            triplet: x86-windows

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}
      TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      ARTIFACTS_PATH: ${{ github.workspace }}/out/build/actions-release/SSMetrics

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install cmake
        uses: lukka/get-cmake@latest

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        id: runvcpkg
        with:
          vcpkgDirectory: ${{ github.workspace }}/vcpkg

      - name: Build project
        uses: lukka/run-cmake@v10
        id: runcmake
        with:
          configurePreset: 'actions-release'
          buildPreset: 'ninja-vcpkg-release'

      - name: Zip build artifacts
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: ${{ matrix.triplet }}.zip
          directory: ${{ env.ARTIFACTS_PATH }}
          path: SSMetrics*

      - name: Upload zipped artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.outputUrl }}
          asset_path: ${{ env.ARTIFACTS_PATH }}/${{ matrix.triplet }}.zip
          asset_name: ssmetrics_${{ matrix.triplet }}.zip
          asset_content_type: application/zip